@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/placeholders' as *;

.hero-btn {
  @extend %button-text;
  @extend %bg-h-f;
  @extend %flex-center;

  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  color: fn.get-color('white');
  background: fn.get-color('iris');
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-btn {
  @extend %button-text;
  @extend %fbg-h-f;
  @extend %flex-center;

  border-radius: 4px;
  color: fn.get-color('white');
  background: fn.get-color('iris');

  padding: 8px 24px;
  gap: 16px;
}

.close-burger-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(fn.get-color('cornflower'), 0.1);
  border: 1px solid rgba(fn.get-color('navy-blue'), 0.1);

  &:hover,
  &:focus {
    background-color: fn.get-color('ocean');
    border: none;
    .close-icon {
      fill: fn.get-color('white');
    }
  }
}
