@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/placeholders' as *;

.logo {
  @extend %logo-text;
  // grid-area: logo;
}

.logo span {
  color: fn.get-color('iris');
}

.header .logo {
  color: fn.get-color('navy-blue');
}

.footer .logo {
  color: fn.get-color('cloud');
}
