@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/placeholders' as *;

.logo {
  @extend %logo-text;
  grid-area: logo;
  color: fn.get-color('navy-blue');
}

.logo span {
  color: fn.get-color('iris');
}
