@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/placeholders' as *;


.nav-link {
  @extend %medium-text;
  @extend %text-h-f;
  position: relative;
  color: fn.get-color('navy-blue');
}

.nav-list {
  @extend %flex-center;
  gap: 40px;
}

.active {
  color: fn.get-color('ocean');
  &::after {
    content: '';
    position: absolute;
    z-index: 10;
    display: block;
    bottom: -24px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: fn.get-color('ocean');
  }
}

