@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;
@use '../utils/placeholders' as *;

.socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.socials-item {
  @extend %bg-h-f;
  @extend %flex-center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: fn.get-color('iris');
}

.socials-icon {
  @extend %flex-center;
}

.footer .socials-item {
  @extend %fbg-h-f;
  gap: 16px;
}
.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  @include mx.mq(md, min) {
    align-items: flex-start;
  }

}
