@use '../utils/variables' as var;
@use '../utils/functions' as fn;

@mixin typography($font, $size, $weight, $line-height, $spacing) {
  font-family: fn.get-font($font);
  font-size: fn.get-font-size($size);
  font-weight: fn.get-font-weight($weight);
  line-height: fn.line-height(fn.get-font-size($size), $line-height);
  letter-spacing: fn.letter-spacing($spacing, fn.get-font-size($size));
}
