@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/functions' as fn;

%main-text {
  @include mx.typography('primary', 'md', 'regular', 24px, 0.32px);
}

%logo-text {
  @include mx.typography('secondary', 'lg', 'bold', 21px, 0.54px);
  text-transform: uppercase;
}

%medium-text {
  font-weight: 500;
  // @include mx.typography('primary', 'md', 'medium', 24px, 0.32px);
}

%small-text {
  @include mx.typography('primary', 'sm', 'regular', 14px, 0.48px);
}

%main-title {
  @include mx.typography('primary', 'xxxl', 'bold', 60px, 1.12px);
}

%section-title {
  @include mx.typography('primary', 'xxl', 'bold', 40px, 0.72px);
}

%block-title {
  @include mx.typography('primary', 'xl', 'medium', 24px, 0.4px);
}

%button-text {
  @include mx.typography('primary', 'md', 'medium', 24px, 0.64px);
}

%link-text {
  @include mx.typography('primary', 'sm', 'regular', 16px, 0.48px);
}

%text-h-f {
  &:hover,
  &:focus {
    color: fn.get-color('ocean');
  }
}

%bg-h-f {
  &:hover,
  &:focus {
    background-color: fn.get-color('ocean');
  }
}
