$breakpoints: (
  //mobile
  'xs': 320px,
  'sm': 375px,
  'sl': 468px, //tablet
  'md': 768px,
  'lg': 1200px,
  //desktop
  'xl': 1440px,
  'xxl': 1920px
);

$colors: (
  'iris': #4d5ae5,
  // Iris,primary-brand,CTAs,Focused,Active,states,Links
  'ocean': #404bbf,
  // OCEAN,pressed-state,CTAs,
  'navy-blue': #2e2f42,
  // NAVY BLUE,darck,Overlays,Shadows,Headings
  'green': #31d0aa,
  // GREEN,success,Valid fields,Success messages
  'slate': #434455,
  // SLATE,text,Body text
  'light-slate': #8e8f99,
  // LIGHT SLATE,subtle-text,Helper text ,Deemphasized text
  'cornflower': #e7e9fc,
  //cornflower,Accent color,Hairlines,Subtle backgrounds
  'cloud': #f4f4fd,
  // cloud,Light mode backgrounds,Light mode Dialogs/alerts
  'navy-blue-modal': rgba(46, 47, 66, 0.4),
  // NAVY BLUE MODAL,Modal overlays
  'grey': rgba(46, 47, 66, 0.7),
  // GREY,Hero image backgrounds
  'white': #fff,
  // WHITE,Header,  team card background
  'dairy': #fcfcfc,
  // Dairy,Modal background
  'transparent': transparent,
  'current': currentColor,
);

// $paddings: (
//   'sm': 4px,
//   'md': 8px,
//   'lg': 16px,
//   'xl': 20px,
// );

// $spacers: (
//   'sm': 24px,
//   'md': 32px,
//   'lg': 36px,
//   'xl': 68px,
// );

$fonts-family: (
  'primary': 'Roboto',
  'secondary': 'Raleway',
);

$font-weights: (
  'regular': 400,
  'medium': 500,
  'semiBold': 600,
  'bold': 700,
  'extraBold': 800,
);
$font-style: (
  'normal': 'normal',
  'italic': 'italic',
);
$font-sizes: (
  'sm': 12px,
  'md': 16px,
  'lg': 18px,
  'xl': 20px,
  'xxl': 36px,
  'xxxl': 56px,
);

$easings: (
  'fast': 300ms ease,
  'slow': 600ms ease,
);

$bg-mob: '../../assets/images/bg-mob.webp';
$bg-tablet: '../../assets/images/bg-tablet.webp';
$bg-desktop: '../../assets/images/bg-desktop.webp';

$bg-retina-mob: '../../assets/images/bg-mob@2x.webp';
$bg-retina-tablet: '../../assets/images/bg-tablet@2x.webp';
$bg-retina-desktop: '../../assets/images/bg-desktop@2x.webp';
