$breakpoints: (
  'xs': 320px,
  'sm': 375px,
  'sl': 468px,
  'md': 768px,
  'lg': 1200px,
  'xl': 1440px,
  'xxl': 1920px,
);

$colors: (
  'iris': #4d5ae5,
  'ocean': #404bbf,
  'navy-blue': #2e2f42,
  'green': #31d0aa,
  'slate': #434455,
  'light-slate': #8e8f99,
  'cornflower': #e7e9fc,
  'cloud': #f4f4fd,
  'navy-blue-modal': rgba(46, 47, 66, 0.4),
  'grey': rgba(46, 47, 66, 0.7),
  'white': #fff,
  'dairy': #fcfcfc,
  'transparent': transparent,
  'current': currentColor,
);

$fonts-family: (
  'primary': 'Roboto',
  'secondary': 'Raleway',
);

$font-weights: (
  'regular': 400,
  'medium': 500,
  'semiBold': 600,
  'bold': 700,
  'extraBold': 800,
);
$font-style: (
  'normal': 'normal',
  'italic': 'italic',
);
$font-sizes: (
  'sm': 12px,
  'md': 16px,
  'lg': 18px,
  'xl': 20px,
  'xxl': 36px,
  'xxxl': 56px,
);

$easings: (
  'fast': 300ms ease,
  'slow': 600ms ease,
);

$bg-mob: '../../assets/images/bg-mob.webp';
$bg-tablet: '../../assets/images/bg-tablet.webp';
$bg-desktop: '../../assets/images/bg-desktop.webp';

$bg-retina-mob: '../../assets/images/bg-mob@2x.webp';
$bg-retina-tablet: '../../assets/images/bg-tablet@2x.webp';
$bg-retina-desktop: '../../assets/images/bg-desktop@2x.webp';
