@use '../utils/variables' as var;
@use '../utils/functions' as fn;

body {
  //   @extend %main-text;

  font-family: fn.get-font-family('primary'), sans-serif;
  color: fn.get-color('slate');
  background-color: fn.get-color('white');
}

button {
  font-family: inherit;
  color: fn.get-color('current');
  cursor: pointer;
}
