@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/placeholders' as *;

body {
  @extend %main-text;
  background-color: fn.get-color('white');
  color: fn.get-color('slate');
}

button {
  font-family: inherit;
  color: fn.get-color('current');
  cursor: pointer;
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
}


