@use '../utils/variables' as var;

$fonts: var.$font-weights;
$font-families: var.$fonts-family;

@each $family-key, $family-name in $font-families {
  @each $weight-key, $weight-value in $fonts {
    @font-face {
      font-family: '#{$family-name}';
      src:
        url('../fonts/#{$family-name}-#{$weight-key}.woff2') format('woff2'),
        url('../fonts/#{$family-name}-#{$weight-key}.woff') format('woff');
      font-weight: $weight-value;
      font-style: normal;
      font-display: swap;
    }
  }
}
