<!--#region modal burger menu  -->
<div id="burger-modal" class="overlay visually-hidden">
  <div class="modal-wrapper">
    <!-- close button -->
    <button class="btn">
      <svg class="icon" width="24" height="24">
        <use href="../assets/icons/sprite.svg#icon-close" />
      </svg>
    </button>
    <!--#region navigation -->
    <nav>
      <ul class="list">
        <!-- home -->
        <li class="item">
          <a class="link" href="#hero">Studio</a>
        </li>
        <!-- portfolio -->
        <li>
          <a class="link" href="#portfolio">Portfolio</a>
        </li>
        <!-- contacts -->
        <li>
          <a class="link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <!--#endregion end navigation -->
    <!--#region contacts -->
    <div class="wrapper">
      <ul class="list">
        <!-- email -->
        <li class="item">
          <a class="link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <!-- phone -->
        <li class="item">
          <a class="link" href="tel:+110001111111">+11 (000) 111-11-11</a>
        </li>
      </ul>
    </div>
    <!--#endregion end contacts -->
    <!--#region socials -->
    <div class="wrapper">
      <ul class="list">
        <!-- instagram -->
        <li class="item">
          <a
            class="link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon" width="24" height="24">
              <use href="../assets/icons/sprite.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <!-- twitter -->
        <li class="item">
          <a
            class="link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon" width="24" height="24">
              <use href="../assets/icons/sprite.svg#icon-twitter" />
            </svg>
          </a>
        </li>
        <!-- facebook -->
        <li class="item">
          <a
            class="link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon" width="24" height="24">
              <use href="../assets/icons/sprite.svg#icon-facebook" />
            </svg>
          </a>
        </li>
        <!-- linkedin -->
        <li class="item">
          <a
            class="link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon" width="24" height="24">
              <use href="../assets/icons/sprite.svg#icon-linkedin" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!--#endregion end socials -->
  </div>
</div>
<!--#endregion end modal burger menu  -->
