
<!--#region modal burger menu  -->
<div id="burger-modal" class="overlay">
<div class="burger-modal-wrapper">
    <!-- close button -->
    <button class="close-burger-btn">
      <svg class="icon close-icon" width="8" height="8">
        <use href="assets/icons/sprite.svg#icon-close" />
      </svg>
    </button>
    <!--#region navigation -->
    <nav class="navigation">
      <ul class="nav-list">
        <!-- home -->
        <li class="nav-item">
          <a class="nav-link active" href="#hero">Studio</a>
        </li>
        <!-- portfolio -->
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <!-- contacts -->
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contacts</a>
        </li>
      </ul>
    </nav>
    <!--#endregion end navigation -->
    <!--#region contacts -->
    <div class="contacts">
      <ul class="contacts-list">
        <!-- email -->
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <!-- phone -->
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </div>
    <!--#endregion end contacts -->
    <!--#region socials -->
    <div class="socials">
      <ul class="socials-list">
        <!-- instagram -->
        <li class="socials-item">
          <a
            class="socials-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials-icon" width="24" height="24">
              <use href="assets/icons/sprite.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <!-- twitter -->
        <li class="socials-item">
          <a
            class="socials-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials-icon" width="24" height="24">
              <use href="assets/icons/sprite.svg#icon-twitter" />
            </svg>
          </a>
        </li>
        <!-- facebook -->
        <li class="socials-item">
          <a
            class="socials-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials-icon" width="24" height="24">
              <use href="assets/icons/sprite.svg#icon-facebook" />
            </svg>
          </a>
        </li>
        <!-- linkedin -->
        <li class="socials-item">
          <a
            class="socials-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="socials-icon" width="24" height="24">
              <use href="assets/icons/sprite.svg#icon-linkedin" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!--#endregion end socials -->
  </div>
</div>
  <!--#endregion end modal burger menu  -->