<section id="feature" class="feature">
  <h2 class="section-title">Feature</h2>
  <ul class="feature-list">
    <!--#region strategy -->
    <li class="feature-item">
      <div class="feature-icon-wrapper">
        <svg class="icon" width="64" height="64">
          <use href="../assets/icons/sprite.svg#icon-antenna" />
        </svg>
      </div>
      <h3 class="block-title">Strategy</h3>
      <p class="text">
        Our goal is to identify the business problem to walk away with the
        perfect and creative solution.
      </p>
    </li>
    <!--#endregion end strategy -->
    <!--#region punctuality -->
    <li class="feature-item">
      <div class="feature-icon-wrapper">
        <svg class="icon" width="64" height="64">
          <use href="../assets/icons/sprite.svg#icon-clock" />
        </svg>
      </div>
      <h3 class="block-title">Punctuality</h3>
      <p class="text">
        Bring the key message to the brand's audience for the best price
        within the shortest possible time.
      </p>
    </li>
    <!--#endregion end punctuality -->
    <!--#region creativity -->
    <li class="feature-item">
      <div class="feature-icon-wrapper">
        <svg class="icon" width="64" height="64">
          <use href="../assets/icons/sprite.svg#icon-diagram" />
        </svg>
      </div>
      <h3 class="block-title">Diligence</h3>
      <p class="text">
        Research and confirm brands that present the strongest digital growth
        opportunities and minimize risk.
      </p>
    </li>
    <!--#endregion end creativity -->
    <!--#region technologies -->
    <li class="feature-item">
      <div class="feature-icon-wrapper">
        <svg class="icon" width="64" height="64">
          <use href="../assets/icons/sprite.svg#icon-astronaut" />
        </svg>
      </div>
      <h3 class="block-title">Technologies</h3>
      <p class="text">
        Design practice focused on digital experiences. We bring forth a deep
        passion for problem-solving.
      </p>
    </li>
    <!--#endregion end technologies -->
  </ul>
</section>
