<section id="feature" class="section">
  <div class="container">
    <h2 class="visually-hidden">Feature</h2>
    <ul class="list list--feature">
      <!--#region strategy -->
      <li class="flex list-item">
        <div class="feature-icon">
          <svg class="icon" width="64" height="64">
            <use href="../assets/icons/sprite.svg#icon-antenna" />
          </svg>
        </div>
        <h3 class="title">Strategy</h3>
        <p class="medium">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>
      <!--#endregion end strategy -->
      <!--#region punctuality -->
      <li class="list-item flex">
        <div class="feature-icon">
          <svg class="icon" width="64" height="64">
            <use href="../assets/icons/sprite.svg#icon-clock" />
          </svg>
        </div>
        <h3 class="title">Punctuality</h3>
        <p class="medium">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>
      <!--#endregion end punctuality -->
      <!--#region creativity -->
      <li class="list-item flex">
        <div class="feature-icon">
          <svg class="icon" width="64" height="64">
            <use href="../assets/icons/sprite.svg#icon-diagram" />
          </svg>
        </div>
        <h3 class="title">Diligence</h3>
        <p class="medium">
          Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>
      <!--#endregion end creativity -->
      <!--#region technologies -->
      <li class="list-item flex">
        <div class="feature-icon">
          <svg class="icon" width="64" height="64">
            <use href="../assets/icons/sprite.svg#icon-astronaut" />
          </svg>
        </div>
        <h3 class="title">Technologies</h3>
        <p class="medium">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
      <!--#endregion end technologies -->
    </ul>
  </div>
</section>
