<footer id="footer" class="section--footer">
      <div class="container footer flex">

        <div class="footer-content flex">
        <!--#region  logo -->
        <div class="logo">
          <a class="logo-text link " href="./index.html">
            <span class="accent">Web</span>Studio
          </a>
        </div>
        <!--#endregion end logo -->
        <p >
          Increase the flow of customers and sales for your business with
          digital marketing & growth solutions.
        </p>
        </div>

<div class="social-media">
<p class="medium"> social media</p>
        <!--#region socials -->
        <div class="socials">
          <ul class="list list--footer-socials flex">
            <!-- instagram -->
            <li class="list-item socials-item">
              <a class="link flex" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-instagram"/>
                </svg>
              </a>
            </li>
            <!-- twitter -->
            <li class="list-item socials-item">
              <a class="link flex" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-twitter"/>
                </svg>
              </a>
            </li>
            <!-- facebook -->
            <li class="list-item socials-item">
              <a class="link flex" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-facebook"/>
                </svg>
              </a>
            </li>
            <!-- linkedin -->
            <li class="list-item socials-item">
              <a class="link flex" href="#" target="_blank" rel="noopener noreferrer">
                <svg class="icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-linkedin"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!--#endregion end socials -->
</div>

<!--#region subscribe -->
        <div class="subscribe">
          <label class="medium" for="subscribe-form">Subscribe</label>
          <form class="subscribe-form" name="subscribe-form" id="subscribe-form">
            <input class="subscribe-input" type="email" name="email" placeholder="E-mail">
            <button class="btn--secondary btn" type="submit">
              Subscribe
              <svg class="subscribe-icon icon" width="24" height="24">
                <use href="../assets/icons/sprite.svg#icon-send"/>
              </svg>
            </button>
          </form>
        </div>
<!--#endregion end subscribe -->
      </div>
      </div>
    </footer>