<header id="header" class="section--header">
  <div class="container header flex">
    <!--#region  logo -->
    <div class="logo">
      <a class="link" href="./index.html">
        <span class="accent">Web</span>Studio
      </a>
    </div>
    <!--#endregion end logo -->
    <!--#region navigation -->
    <nav>
      <ul class="flex navigation--header list">
        <!-- home -->
        <li class="list-item">
          <a class="link active" href="#hero">Studio</a>
        </li>
        <!-- portfolio -->
        <li class="list-item">
          <a class="link" href="#portfolio">Portfolio</a>
        </li>
        <!-- contacts -->
        <li class="list-item">
          <a class="link" href="#footer">Contacts</a>
        </li>
      </ul>
    </nav>
    <!--#endregion end navigation -->
    <!--#region contacts -->
    <div>
      <ul class="list list--contacts">
        <!-- email -->
        <li class="list-item">
          <a class="link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <!-- phone -->
        <li class="list-item">
          <a class="link" href="tel:+110001111111">+11 (000) 111-11-11</a>
        </li>
      </ul>
    </div>
    <!--#endregion end contacts -->
    <!--#region mobile menu button -->
    <button class="btn--open-modal btn">
      <svg class="open-modal-icon icon" width="24" height="24">
        <use href="../assets/icons/sprite.svg#icon-burger-menu" />
      </svg>
    </button>
    <!--#endregion end mobile menu button -->
  </div>
</header>
