<header id="header" class="header">
  <!--#region  logo -->
  <a class="logo" href="./index.html"> <span>Web</span>Studio </a>
  <!--#endregion end logo -->
  <!--#region navigation -->
  <nav class="navigation">
    <ul class="nav-list">
      <!-- home -->
      <li class="nav-item">
        <a class="nav-link active" href="#hero">Studio</a>
      </li>
      <!-- portfolio -->
      <li class="nav-item">
        <a class="nav-link" href="#portfolio">Portfolio</a>
      </li>
      <!-- contacts -->
      <li class="nav-item">
        <a class="nav-link" href="#footer">Contacts</a>
      </li>
    </ul>
  </nav>
  <!--#endregion end navigation -->
  <!--#region contacts -->
  <div class="contacts">
    <ul class="contacts-list">
      <!-- email -->
      <li class="contacts-item">
        <a class="contacts-link" href="mailto:info@devstudio.com"
          >info@devstudio.com</a
        >
      </li>
      <!-- phone -->
      <li class="contacts-item">
        <a class="contacts-link" href="tel:+110001111111"
          >+11 (000) 111-11-11</a
        >
      </li>
    </ul>
  </div>
  <!--#endregion end contacts -->
  <!--#region mobile menu button -->
  <button class="burger-btn">
    <svg class="icon" width="24" height="24">
      <use href="../../src/assets/icons/sprite.svg#icon-burger-menu" />
    </svg>
  </button>
  <!--#endregion end mobile menu button -->
  
</header>
