<section id="portfolio" class="section">
  <div class="container flex portfolio">
    <h2 class="portfolio-title">Our Portfolio</h2>
    <ul class="list flex list--portfolio">
      <!--#region App project -->
      <li class="list-item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="portfolio-img"
            src="../assets/images/banking-app.webp"
            srcset="../assets/images/banking-app@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
          />
          <div class="description">
            <h3 class="description-title visually-hidden">description</h3>
            <ul class="list">
              <li class="list-item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="list-item">Task Manager App</li>
              <li class="list-item">Calorie Tracker App</li>
              <li class="list-item">Exotic Fruit Ecommerce App</li>
              <li class="list-item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="portfolio-content">
            <h3 class="title--secondary">Banking App</h3>
            <p>App</p>
          </div>
        </a>
      </li>
      <!--#endregion end App project -->
      <!--#region Marketing project -->
      <li class="list-item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="portfolio-img"
            src="../assets/images/cashless-payment.webp"
            srcset="../assets/images/cashless-payment@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
          />
          <div class="description">
            <h3 class="description-title visually-hidden">description</h3>
            <ul class="list">
              <li class="list-item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="list-item">Task Manager App</li>
              <li class="list-item">Calorie Tracker App</li>
              <li class="list-item">Exotic Fruit Ecommerce App</li>
              <li class="list-item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="portfolio-content">
            <h3 class="title--secondary">Cashless Payment</h3>
            <p>Marketing</p>
          </div>
        </a>
      </li>
      <!--#endregion end Marketing project -->
      <!--#region Meditation App project -->
      <li class="list-item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="portfolio-img"
            src="../assets/images/meditation-app.webp"
            srcset="../assets/images/meditation-app@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
          />
          <div class="description">
            <h3 class="description-title visually-hidden">description</h3>
            <ul class="list">
              <li class="list-item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="list-item">Task Manager App</li>
              <li class="list-item">Calorie Tracker App</li>
              <li class="list-item">Exotic Fruit Ecommerce App</li>
              <li class="list-item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="portfolio-content">
            <h3 class="title--secondary">Meditation App</h3>
            <p>App</p>
          </div>
        </a>
      </li>
      <!--#endregion end Meditation App project -->
      <!--#region Taxi Service project -->
      <li class="list-item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="portfolio-img"
            src="../assets/images/taxi-service.webp"
            srcset="../assets/images/taxi-service@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
          />
          <div class="description">
            <h3 class="description-title visually-hidden">description</h3>
            <ul class="list">
              <li class="list-item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="list-item">Task Manager App</li>
              <li class="list-item">Calorie Tracker App</li>
              <li class="list-item">Exotic Fruit Ecommerce App</li>
              <li class="list-item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="portfolio-content">
            <h3 class="title--secondary">Taxi Service</h3>
            <p>Marketing</p>
          </div>
        </a>
      </li>
      <!--#endregion end Taxi Service project -->
      <!--#region Screen Illustrations project -->
      <li class="list-item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="portfolio-img"
            src="../assets/images/screen-illustrations.webp"
            srcset="../assets/images/screen-illustrations@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
          />
          <div class="description">
            <h3 class="description-title visually-hidden">description</h3>
            <ul class="list">
              <li class="list-item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="list-item">Task Manager App</li>
              <li class="list-item">Calorie Tracker App</li>
              <li class="list-item">Exotic Fruit Ecommerce App</li>
              <li class="list-item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="portfolio-content">
            <h3 class="title--secondary">Screen Illustrations</h3>
            <p>Design</p>
          </div>
        </a>
      </li>
      <!--#endregion end Screen Illustrations project -->
      <!--#region Online Courses project -->
      <li class="list-item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="portfolio-img"
            src="../assets/images/online-courses.webp"
            srcset="../assets/images/online-courses@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
          />
          <div class="description">
            <h3 class="description-title visually-hidden">description</h3>
            <ul class="list">
              <li class="list-item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="list-item">Task Manager App</li>
              <li class="list-item">Calorie Tracker App</li>
              <li class="list-item">Exotic Fruit Ecommerce App</li>
              <li class="list-item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="portfolio-content">
            <h3 class="title--secondary">Online Courses</h3>
            <p>Marketing</p>
          </div>
        </a>
      </li>
    </ul>
    <!--#endregion end Online Courses project -->
  </div>
</section>
