<section id="portfolio" class="section">
  <div class="container">
    <h2 class="title">Our Portfolio</h2>
    <ul class="list">
      <!--#region App project -->
      <li class="item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="img"
            src="../assets/images/banking-app.webp"
            srcset="../assets/images/banking-app@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
            loading="lazy"
          />
          <div class="wrapper">
            <h3 class="title">description</h3>
            <ul class="list">
              <li class="item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="item">Task Manager App</li>
              <li class="item">Calorie Tracker App</li>
              <li class="item">Exotic Fruit Ecommerce App</li>
              <li class="item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="wrapper">
            <h3 class="title">Banking App</h3>
            <p>App</p>
          </div>
        </a>
      </li>
      <!--#endregion end App project -->
      <!--#region Marketing project -->
      <li class="item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="img"
            src="../assets/images/cashless-payment.webp"
            srcset="../assets/images/cashless-payment@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
            loading="lazy"
          />
          <div class="wrapper">
            <h3 class="title">description</h3>
            <ul class="list">
              <li class="item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="item">Task Manager App</li>
              <li class="item">Calorie Tracker App</li>
              <li class="item">Exotic Fruit Ecommerce App</li>
              <li class="item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="wrapper">
            <h3 class="title">Cashless Payment</h3>
            <p>Marketing</p>
          </div>
        </a>
      </li>
      <!--#endregion end Marketing project -->
      <!--#region Meditation App project -->
      <li class="item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="img"
            src="../assets/images/meditation-app.webp"
            srcset="../assets/images/meditation-app@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
            loading="lazy"
          />
          <div class="wrapper">
            <h3 class="title">description</h3>
            <ul class="list">
              <li class="item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="item">Task Manager App</li>
              <li class="item">Calorie Tracker App</li>
              <li class="item">Exotic Fruit Ecommerce App</li>
              <li class="item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="wrapper">
            <h3 class="title">Meditation App</h3>
            <p>App</p>
          </div>
        </a>
      </li>
      <!--#endregion end Meditation App project -->
      <!--#region Taxi Service project -->
      <li class="item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="img"
            src="../assets/images/taxi-service.webp"
            srcset="../assets/images/taxi-service@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
            loading="lazy"
          />
          <div class="wrapper">
            <h3 class="title">description</h3>
            <ul class="list">
              <li class="item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="item">Task Manager App</li>
              <li class="item">Calorie Tracker App</li>
              <li class="item">Exotic Fruit Ecommerce App</li>
              <li class="item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="wrapper">
            <h3 class="title">Taxi Service</h3>
            <p>Marketing</p>
          </div>
        </a>
      </li>
      <!--#endregion end Taxi Service project -->
      <!--#region Screen Illustrations project -->
      <li class="item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="img"
            src="../assets/images/screen-illustrations.webp"
            srcset="../assets/images/screen-illustrations@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
            loading="lazy"
          />
          <div class="wrapper">
            <h3 class="title">description</h3>
            <ul class="list">
              <li class="item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="item">Task Manager App</li>
              <li class="item">Calorie Tracker App</li>
              <li class="item">Exotic Fruit Ecommerce App</li>
              <li class="item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="wrapper">
            <h3 class="title">Screen Illustrations</h3>
            <p>Design</p>
          </div>
        </a>
      </li>
      <!--#endregion end Screen Illustrations project -->
      <!--#region Online Courses project -->
      <li class="item">
        <a class="link" href="#" target="_blank" rel="noopener noreferrer">
          <img
            class="img"
            src="../assets/images/online-courses.webp"
            srcset="../assets/images/online-courses@2x.webp 2x"
            alt="App project"
            width="288"
            height="280"
            loading="lazy"
          />
          <div class="wrapper">
            <h3 class="title">description</h3>
            <ul class="list">
              <li class="item">
                14 Stylish and User-Friendly App Design Concepts
              </li>
              <li class="item">Task Manager App</li>
              <li class="item">Calorie Tracker App</li>
              <li class="item">Exotic Fruit Ecommerce App</li>
              <li class="item">Cloud Storage App</li>
            </ul>
          </div>
          <div class="wrapper">
            <h3 class="title">Online Courses</h3>
            <p>Marketing</p>
          </div>
        </a>
      </li>
    </ul>
    <!--#endregion end Online Courses project -->
  </div>
</section>
