<section id="team" class="team">
  <h2 class="section-title">Our Team</h2>
  <ul class="team-list">
    <!--#region Mark Guerrero -->
    <li class="team-item">
      <img
        class="team-img"
        src="../assets/images/mark-guerrero.webp"
        srcset="../assets/images/mark-guerrero@2x.webp 2x"
        alt="Mark Guerrero"
        width="264"
        height="260"
        loading="lazy"
      />
      <div class="team-content-wrapper">
        <h3 class="block-title">Mark Guerrero</h3>
        <p class="text">Product Designer</p>
        <!--#region socials -->
        <div class="socials">
          <ul class="socials-list">
            <!-- instagram -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <!-- twitter -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-twitter" />
                </svg>
              </a>
            </li>
            <!-- facebook -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <!-- linkedin -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-linkedin" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!--#endregion end socials -->
      </div>
    </li>
    <!--#endregion end Mark Guerrero -->
    <!--#region Tom Ford -->
    <li class="team-item">
      <img
        class="team-img"
        src="../assets/images/tom-ford.webp"
        srcset="../assets/images/tom-ford@2x.webp 2x"
        alt="Tom Ford"
        width="264"
        height="260"
        loading="lazy"
      />
      <div class="team-content-wrapper">
        <h3 class="block-title">Tom Ford</h3>
        <p class="text">Frontend Developer</p>
        <!--#region socials -->
        <div class="socials">
          <ul class="socials-list">
            <!-- instagram -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <!-- twitter -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-twitter" />
                </svg>
              </a>
            </li>
            <!-- facebook -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <!-- linkedin -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-linkedin" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!--#endregion end socials -->
      </div>
    </li>
    <!--#endregion end Camila Garcia -->
    <!--#region Camila Garcia -->
    <li class="team-item">
      <img
        class="team-img"
        src="../assets/images/camila-garcia.webp"
        srcset="../assets/images/camila-garcia@2x.webp 2x"
        alt="Daniel Wilson"
        width="264"
        height="260"
        loading="lazy"
      />
      <div class="team-content-wrapper">
        <h3 class="block-title">Camila Garcia</h3>
        <p class="text">Marketing</p>
        <!--#region socials -->
        <div class="socials">
          <ul class="socials-list">
            <!-- instagram -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <!-- twitter -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-twitter" />
                </svg>
              </a>
            </li>
            <!-- facebook -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <!-- linkedin -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-linkedin" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!--#endregion end socials -->
      </div>
    </li>
    <!--#endregion end Camila Garcia  -->
    <!--#region Daniel Wilson -->
    <li class="team-item">
      <img
        class="team-img"
        src="../assets/images/daniel-wilson.webp"
        srcset="../assets/images/daniel-wilson@2x.webp 2x"
        alt="Daniel Wilson"
        width="264"
        height="260"
        loading="lazy"
      />
      <div class="team-content-wrapper">
        <h3 class="block-title">Daniel Wilson</h3>
        <p class="text">UI Designer</p>
        <!--#region socials -->
        <div class="socials">
          <ul class="socials-list">
            <!-- instagram -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <!-- twitter -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-twitter" />
                </svg>
              </a>
            </li>
            <!-- facebook -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <!-- linkedin -->
            <li class="socials-item">
              <a
                class="socials-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="socials-icon" width="24" height="24">
                  <use href="../assets/icons/sprite.svg#icon-linkedin" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <!--#endregion end socials -->
      </div>
    </li>
    <!--#endregion end Daniel Wilson -->
  </ul>
</section>
