<section id="team" class="section">
  <div class="container">
    <h2 class="title">Our Team</h2>
    <ul class="list">
      <!--#region Mark Guerrero -->
      <li class="item">
        <img
          class="img"
          src="../assets/images/mark-guerrero.webp"
          alt="Mark Guerrero"
          width="264"
          height="260"
          loading="lazy"
        />
        <div class="wrapper">
          <h3 class="title">Mark Guerrero</h3>
          <p class="text">Product Designer</p>
          <!--#region socials -->
          <div class="wrapper">
            <ul class="list">
              <!-- instagram -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-instagram" />
                  </svg>
                </a>
              </li>
              <!-- twitter -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <!-- facebook -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-facebook" />
                  </svg>
                </a>
              </li>
              <!-- linkedin -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!--#endregion end socials -->
        </div>
      </li>
      <!--#endregion end Mark Guerrero -->
      <!--#region Tom Ford -->
      <li class="item">
        <img
          class="img"
          src="../assets/images/tom-ford.webp"
          alt="Tom Ford"
          width="264"
          height="260"
          loading="lazy"
        />
        <div class="wrapper">
          <h3 class="title">Tom Ford</h3>
          <p class="text">Frontend Developer</p>
          <!--#region socials -->
          <div class="wrapper">
            <ul class="list">
              <!-- instagram -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-instagram" />
                  </svg>
                </a>
              </li>
              <!-- twitter -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <!-- facebook -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-facebook" />
                  </svg>
                </a>
              </li>
              <!-- linkedin -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!--#endregion end socials -->
        </div>
      </li>
      <!--#endregion end Tom Ford -->
      <!--#region Camila Garcia -->
      <li class="item">
        <img
          class="img"
          src="../assets/images/camila-garcia.webp"
          alt="Camila Garcia"
          width="264"
          height="260"
          loading="lazy"
        />
        <div class="wrapper">
          <h3 class="title">Camila Garcia</h3>
          <p class="text">Marketing</p>
          <!--#region socials -->
          <div class="wrapper">
            <ul class="list">
              <!-- instagram -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-instagram" />
                  </svg>
                </a>
              </li>
              <!-- twitter -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <!-- facebook -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-facebook" />
                  </svg>
                </a>
              </li>
              <!-- linkedin -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!--#endregion end socials -->
        </div>
      </li>
      <!--#endregion end Camila Garcia -->
      <!--#region Daniel Wilson -->
      <li class="item">
        <img
          class="img"
          src="../assets/images/daniel-wilson.webp"
          alt="Daniel Wilson"
          width="264"
          height="260"
          loading="lazy"
        />
        <div class="wrapper">
          <h3 class="title">Daniel Wilson</h3>
          <p class="text">UI Designer</p>
          <!--#region socials -->
          <div class="wrapper">
            <ul class="list">
              <!-- instagram -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-instagram" />
                  </svg>
                </a>
              </li>
              <!-- twitter -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <!-- facebook -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-facebook" />
                  </svg>
                </a>
              </li>
              <!-- linkedin -->
              <li class="item">
                <a
                  class="link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <svg class="icon" width="24" height="24">
                    <use href="../assets/icons/sprite.svg#icon-linkedin" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!--#endregion end socials -->
        </div>
      </li>
      <!--#endregion end Daniel Wilson -->
    </ul>
  </div>
</section>
